<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-input
          [(ngModel)]="email"
          type="email"
          placeholder="Email"
        ></ion-input>
        <ion-input
          [(ngModel)]="password"
          type="password"
          placeholder="Password"
        ></ion-input>
        <ion-button (click)="Login()" expand="block"  shape="round">
          Login
        </ion-button>
        <ion-button
          (click)="Register()"
          expand="block"
          shape="round"
        >
          Register
        </ion-button>
      </ion-col>
      <!-- <ion-col size="6"></ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
